<!DOCTYPE html>
<html>
<head>
    <title>index</title>
</head>
<body>
    <form class="createUser">
        <label for="username">Username:</label>
        <input id="username" type="text" name="UserName" />
        <input type="button" value="Create" />
    </form>

    <form class="postMessage">
        <label for="message">Post new message:</label>
        <textarea id="message" name="MessageText"></textarea>
        <input type="hidden" value="" name="UserId">
        <input type="button" value="Send" />
    </form>
    <div class="follow"></div>
    <div class="messageHolder"></div>

    <style>
        .createUser input, label {
            display: block;
        }
        .postMessage {
            display: none;
            margin-top: 20px;
        }
        .postMessage input, textarea, label {
            display: block;
        }
        .messageHolder {
            display: none;
            margin-top: 15px;
        }
        .message {
            margin-bottom: 10px;
        }
        .message span {
            display: block;
        }
        .message .date {
            font-size: 12px;
        }
        .follow {
            float: left;
        }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>